@font-face {
    font-family: 'Myanmar3';
    src: local('Myanmar3'), url('../fonts/myanmar3.woff') format('woff'), url('../fonts/myanmar3.ttf') format('ttf');
}

@font-face {
    font-family: 'Zawgyi';
    src: local('Zawgyi'), url('../fonts/zawgyi.woff') format('woff'), url('../fonts/zawgyi.ttf') format('ttf');
}

.zawgyi{
    font-family: Zawgyi, 'Open Sans', Arial, sans-serif;
}

body, td {
	font-family: Zawgyi, 'Open Sans', Arial, sans-serif;
	font-size:14px;
	font-weight:300;
	line-height:1.6em;

}
